:root {
  --font-family: 'Montserrat', sans-serif;
}

body {
  margin: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  min-height: 296px;
  margin: 0 auto;
  padding: 24px;
}

.feedback-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 8px;
}

input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
}

input:hover,
input:focus {
  border: 1px solid #000;
}

input:active {
  border: 1px solid #808080;
}

textarea {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
}

textarea:hover,
textarea:focus {
  border: 1px solid #000;
}

textarea:active {
  border: 1px solid #808080;
}

button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  margin-top: 16px;
}

button:hover,
button:focus,
.change-color:hover,
.change-color:focus {
  background-color: #6c8cff;
}
